<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.antares.blog.mapper.ArticleCommentMapper">

    <resultMap id="BaseResultMap" type="org.example.antares.blog.model.entity.ArticleComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="rootId" column="root_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="fromUid" column="from_uid" jdbcType="BIGINT"/>
            <result property="toUid" column="to_uid" jdbcType="BIGINT"/>
            <result property="toCommentId" column="to_comment_id" jdbcType="BIGINT"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,root_id,
        content,from_uid,to_uid,
        to_comment_id,like_count,create_time,
        is_delete
    </sql>
</mapper>
