<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.antares.member.mapper.FollowMapper">

    <resultMap id="BaseResultMap" type="org.example.antares.member.model.entity.Follow">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="followUid" column="follow_uid" jdbcType="BIGINT"/>
        <result property="unread" column="unread" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,uid,follow_uid,unread,create_time,update_time
    </sql>
</mapper>
